@CHARSET "UTF-8";
#invoiceSeller{
	width: 250px;
	position: inline;
}

body{
	margin: 10px 120px;
	background-image:url('../images/bg02.jpg');
	
}

input {
   border-style: hidden !important;
}

.ui-dialog{
top: 100px !important;
position: fixed;
}